<div class="form-field">
  <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>" placeholder="Name">
</div>
<div class="form-field">
  <input type="text" name="restaurant[location]" value="<%= @restaurant.location %>" placeholder="Location">
</div>
<div class="form-field">
  <input type="text" name="restaurant[cuisine_type]" value="<%= @restaurant.cuisine_type %>" placeholder="Cuisine Type">
</div>
<input type="submit">
